# Python / VS Code
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Entornos virtuales
.venv/
.venv_tf1/
venv/
env/

# Artefactos y resultados pesados (ajusta si necesitas)
Resumen_resultados EQL_Tensorflow/
results/
logs/
**/checkpoint
**/model.ckpt*
*.tfevents
*.pbtxt
*.h5
*.npz
*.npy
*.pt
*.onnx

# SO
.DS_Store
Thumbs.db
